.sectionWrapper{
  margin: 1rem;
}

.mainTitle{
  font-weight: bold;
  font-size: 140%;
  margin: 0;
}

.explanation{
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.formTitle{
  font-weight: bold;
  font-size: 1.3rem;
}

.fontTitleWrapper{
  display: flex;
  column-gap: 1rem;
}

.formWrapper{
  margin-bottom: 2rem;
}

.errorMessage{
  margin-top: -1rem;
  margin-bottom: -1rem;
  color: red;
  font-weight: bold;
}

.timeErrorMessage{
  color: red;
  font-weight: bold;
}

.timeTitleWrapper{
  display: flex;
  column-gap: 1rem;
}

.formLabel{
  font-weight: bold;
}

.timeFormTitle{
  margin-right: 1rem;
}

.dateTitleWrapper{
  display: flex;
  column-gap: 1rem;
}

.dateErrorMessage{
  font-weight: bold;
  color: red;
}

.dateFormWrapper{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.timeFormWrapper{
  margin-bottom: 1rem;
}

.btnWrapper{
  height: 2rem;
}

.submitBtn{
  width: 4rem;
  height:2rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bold;
  background-color: #20b2aa;
  border-color: #20b2aa;
  border-right: 0rem;
  border-bottom: 5px solid #599597;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.submitBtn:hover{
  margin-top: 0.1rem;
  color: #fff;
  background: #22b9b1;
  border-bottom: 2px solid #538a8c;
}

.itemWrapper{
  display: flex;
  column-gap: 1rem;
}

.result{
  background-color: #fff;
  width: 20rem;
  height: 10rem;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
